input[type="range"] {
    -webkit-appearance: none;
    background-color: #ffffff;
    height: 15px;
    width: 340px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);
} 

/*
#slider {
    margin-left: 100px;
    margin-right: 100px;
    left:50%;
}
*/

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:20px;
    height: 20px;
    border-radius: 50%;
    background: #428bca;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}

.amount-input {
	width: 70px;
	margin-bottom: 10px;
}


.slider-div {
    position: relative;
	display: inline;
	font-weight: bold;
	font-size: 18px;
}

.form-signin{
	width: 800px;
}

#loan-text{
	width: 85%;
	margin: 0 auto;
}

.table tbody tr td {
	vertical-align: middle;
}

#detailedDesc {
	font-size: 16px;
}

#description {
	height: 50px;
}
