<div class="container">
  <div class="jumbotron">
    <h1>TradeMore</h1>

    <h2>Access Working Capital using Bitcoin</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign up now</a>
  </div>
</div>