<div class="container">
  <div class="jumbotron">
    <h1>FundFlow</h1>
    <h2>Access Working Capital using Bitcoin</h2>
	    <% if (!session.authenticated) { %>
	    <a href="/user/new" class="btn btn-lg btn-success">Sign up now</a>
	    <% } %>    
  </div>

  <div class="container">
	<div class="row">
		<div id="borrowers" class="col-md-6">
			<h1>Borrowers</h1>

				Borrowers can apply for funding directly from lenders, meaning we can offer more competitive rates than traditional lenders. The repayment process can be automated, allowing you to focus on your business.
				<hr>
				
		</div>
		<div id="lenders" class="col-md-6">
			<h1>Lenders</h1>

				Lenders can chose from a range of existing businesses in which to make an investment, and earn excellent returns. Furthermore, loans can be sold on through the platform, providing liquidity when you need it. 
				<hr>
				
		</div>
	</div>
  </div>
</div>