<div class='container'>
	<div style="background-color: #eeeeee; border-radius: 20px; padding: 30px">
		<h1> Congratulations, you applied for funding </h1>

		<h3> What happens next? </h3>

		<hr>

		<h4> Over the next two weeks, lenders will scruitinise your application. </h4>

		<h4> If a sufficient number of lenders provide you with financing, your applcation will be successfuly. </h4>

		<h4> Be sure to return regularly to check your application's status. </h4>

	</div>
</div>