<div class='container'>
	<div style="background-color: #eeeeee; border-radius: 20px; padding: 30px">
		<h1> Congratulations, you applied for funding </h1>

		<h3> What happens next? </h3>

		<h4> Lenders will scruitinise your application. </h4>

	</div>
</div>