<form action="/loan/create" method="POST" id="loan-form" class="form-signin">
	<h2 class="form-signin-heading">Apply for a loan</h2>


	<!-- Need error handling logic -->
	<div class="control-group slider-div">
		<div id="loan-text">
			I want to get a loan for <input id="textInput" type="number" class="form-control amount-input slider-div" placeholder="50" name="amount"> BTC	
    	</div>
    	<div id = "slider">
    	  - <input  type="range" name="rangeInput" min="1" max="100" default="10" oninput="updateTextInput(this.value);" + >
    	</div> 
    </div>

    <hr>

	<table class="table">
		<thead>
			<th class="col-md-4">Term</th>
			<th class="col-md-4">APR</th>
			<th class="col-md-4">Monthly Cost</th>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="radio">
						<input type="radio" id="1year" name="optionsTerm" value="option1" checked>
						1 year
					</div>
				</td>
				<td>
					<span id="APR1">
						1.0
					</span>
					%
				</td>
				<td>
					<span id="Monthly1">0.84</span> BTC
				</td>
				
			</tr>
			<tr>
				<td>
					<div class="radio">
						<input type="radio" id="2year" name="optionsTerm" value="option2">
						2 years
					</div>
				</td>
				<td>
					<span id="APR2">
						2.0
					</span>
					%
				</td>
				<td>
					<span id="Monthly2">0.43</span> BTC
				</td>
				
			</tr>
			<tr>
				<td>
					<div class="radio">
						<input type="radio" id="3year" name="optionsTerm" value="option3">
						3 years
					</div>
				</td>
				<td>
					<span id="APR3">
						3.0
					</span>
					%
				</td>
				<td>
					<span id="Monthly3">0.29</span> BTC
					
				</td>
			</tr>
		</tbody>
	</table>


	<input id="inputInterest" type="hidden" name="interest" value="1.0" />
	<input id="inputExpires" type="hidden" name="expires" value="1"/>
	<input id="detailedDescription" type="hidden" name="detailedDescription" value=""/>
	
	<div class="control-group">
	<input id="description" type="text" class="form-control" placeholder="Why do you need this loan?" name="description">
	</div>

	<div class="control-group">
		<textarea class="form-control" id="detailedDesc" rows="4" placeholder="How will this loan be used?" onchange="updateDetailedDesc();"></textarea>
	</div>


	<hr>

	
		<div class="form-group">
		<input type="text" class="form-control" placeholder="Bitcoin address to receive funds" name="address" id="newAddress">
		</div>


	<input type="hidden" name="privKey" value="" />

	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Apply"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>