<form action="/loan/create" method="POST" id="sign-up-form" class="form-signin">
	<h2 class="form-signin-heading">Apply for a loan</h2>


	<!-- Need error handling logic -->






	<div class="control-group">
	<input type="number" class="form-control" placeholder="amount" name="amount">
	</div>

	<div class="control-group">
	<input type="number" class="form-control" placeholder="interest" name="interest">
	</div>
	
	<div class="control-group">
	<input type="text" class="form-control" placeholder="description" name="description">
	</div>

	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Apply"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>