<form action="/loan/create" method="POST" id="loan-form" class="form-signin">
	<h2 class="form-signin-heading">Apply for a loan</h2>

	<script type="text/javascript">
    function updateTextInput(val) {
      document.getElementById('textInput').value=val; 
    }
  </script>

	<!-- Need error handling logic -->
	<div class="control-group">
		I want to get a loan for 	
					<input id="textInput" type="number" class="form-control" placeholder="amount" name="amount"> BTC	
    	<input type="range" name="rangeInput" min="0" max="100" onchange="updateTextInput(this.value);"> 
    	</div>

	<div class="control-group">
	<input type="number" class="form-control" placeholder="interest" name="interest">
	</div>
	
	<div class="control-group">
	<input type="text" class="form-control" placeholder="description" name="description">
	</div>

	<div class="form-group">
	<input type="text" class="form-control" placeholder="bitcoin address" name="address">
	<input type="button" class="btn" value="Generate"/>
	</div>


	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Apply"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>